[run]
branch = True
source =
    MambuPy/
omit =
    unit*.py
    test*.py
    doc/*
    */orm/*
    */rest1to2/*

[report]
omit =
    unit*.py
    test*.py
    doc/*
    */orm/*
    */rest1to2/*

skip_empty = True

exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
