stages:
  - "lint"
  - "UnitTests"
  - "docs"
  - "quality"
  - "deploys"

Linter:
  stage: lint
  image: "python:3.8"
  only:
    - branches
    - tags
    - merge_requests
  script:
    - pip install -q --no-cache-dir -r requirements.tools.txt
    - make lint

.UnitTests:
  stage: "UnitTests"
  variables:
    PYVERSION: "3"
  only:
    - branches
    - tags
    - merge_requests
  artifacts:
    paths:
      - htmlcov_${CI_PROJECT_NAME}_$PYVERSION.tar.bz2
      - coverage_${CI_PROJECT_NAME}_$PYVERSION.xml
    expire_in: 1 day
  before_script:
    - pip install -q --no-cache-dir --upgrade -r requirements.light.txt
    - pip install -q --no-cache-dir --upgrade -r requirements.full.txt
  after_script:
    - coverage html
    - mv htmlcov htmlcov_${CI_PROJECT_NAME}_$PYVERSION
    - tar cjf htmlcov_${CI_PROJECT_NAME}_$PYVERSION.tar.bz2 htmlcov_${CI_PROJECT_NAME}_$PYVERSION
    - coverage xml
    - mv coverage.xml coverage_${CI_PROJECT_NAME}_$PYVERSION.xml
  script:
    - pip install -q --no-cache-dir --upgrade -r requirements.light.txt
    - pip install -q --no-cache-dir --upgrade -r requirements.full.txt
    - pip install -q --no-cache-dir --upgrade -r requirements.tools.txt
    - date
    - make test

UnitTests-37:
  extends: ".UnitTests"
  image: "python:3.7"

UnitTests-38:
  extends: ".UnitTests"
  image: "python:3.8"

UnitTests-39:
  extends: ".UnitTests"
  image: "python:3.9"

UnitTests-310:
  extends: ".UnitTests"
  image: "python:3.10"

UnitTests-311:
  extends: ".UnitTests"
  image: "python:3.11"

UnitTests-312:
  extends: ".UnitTests"
  image: "python:3.12"

# python >=3.13 not yet supported

Docs:
  image: "python:3.8"
  only:
    - branches
    - tags
    - merge_requests
  stage: docs
  before_script:
    - pip install -q --no-cache-dir -r requirements.doc.txt
  script:
    - cd docs && make html && make html && cd ..
    - mv docs/build/html ./mambupy_docs
    - tar czf ./mambupy_docs.tar.gz ./mambupy_docs
  artifacts:
    paths:
      - ./mambupy_docs
      - ./mambupy_docs.tar.gz
    expire_in: 1 day


# gitlab users forking this project: you should create a group named
# mambupy with a project named mambupy-deploy, with a file named
# .gitlab-ci_deploy.yml

# without this, your deploy pipelines will fail

# there you can put your own deploy rules, or if you don't have any,
# you can add a job for some of the "quality" or "deploys" stages
# doing an echo to console

include:
  - project: 'mambupy/mambupy-deploy'
    file: '.gitlab-ci_deploy.yml'
